body {
    background-color: rgba(28, 28, 192, 0.562);
    font: normal 15pt arial;
 }
 
 header {
   color: white;
   text-align: center;
 }
 
 section {
   background-color: white;
   border-radius: 20px;
   padding: 30px;
   width: 500px;
   margin: auto;
 }
 
 footer {
   color: white;
   text-align: center;
 }

div {
  text-align: left;
  padding: 5px;
}